<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input label="Enter Value" placeholder="Enter any value" name="anyValue" [(ngModel)]="anyValue"/>
    <ion-button (click)="saveValueTabl1()">Save</ion-button>

    <ion-input label="Enter Value" placeholder="Enter any value" name="getVal" [(ngModel)]="getVal"/>
    <ion-button (click)="getValue()">Get Value</ion-button>

     <ion-input label="Enter Value2" placeholder="Enter any value2" name="anyValue2" [(ngModel)]="anyValue2"/>
    <ion-button (click)="saveValueTabl2()">Save2</ion-button>

    <ion-input label="Enter Value2" placeholder="Enter any value2" name="getVal2" [(ngModel)]="getVal2"/>
    <ion-button (click)="getValue2()">Get Value2</ion-button>

  </div>
</ion-content>
